<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SI_PinjamBuku.My.MySettings.PinjamBukuConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\bin\Debug\PinjamBuku.accdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.PinjamBuku2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PinjamBuku2.accdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.pinjambuku1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pinjambuku1.accdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.pinjambuku0ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pinjambuku0.accdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.pinajambuku3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\pinajambuku3.accdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.pinajambuku4ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\pinajambuku4.mdb"
            providerName="System.Data.OleDb" />
        <add name="SI_PinjamBuku.My.MySettings.pinajambukufinalConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\pinajambukufinal.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>